.home-btn {
    height: 60px;
    width: 100px;
    background-color: var(--color-grey-soft);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    box-shadow: var(--box-shadow);

}