.dark-mode-btn {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: var(--color-grey-soft);
    border: none;
    box-shadow: var(--box-shadow);

    &__icon {
        color: var(--color-black);
    }

    body.dark & {

        &__icon {
            color: var(--color-yellow);
        }
    }
}