.detailed-card {
    width: 500px;
    height: 700px;
    background-color: var(--color-grey-soft);
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    position: relative;

    &__img-container {
        position: absolute; /* Posicionar absolutamente el contenedor de la imagen dentro de .detailed-card */
        top: -80px; /* Ajustar según sea necesario para que la mitad superior de la imagen salga del fondo gris */
        left: 50%; /* Centrar horizontalmente */
        transform: translateX(-50%); /* Alinear al centro */
    }

    &__img {
        height: 160px;
    }

    &__info {
        margin: 116px 62px ;
        display: flex;
        flex-direction: column;
        gap: 16px;
        & h2 {
            font-size: 32px;
            font-weight: bold;
        }

        & h3 {
            font-size: 20px;
            color: var(--color-grey-dark);
            font-weight: bold;
        }

        & h4 {
            font-size: 20px;
            user-select: none;
        }
    }

    &__entry > :not(:last-child) {
            margin-bottom: 12px;
    }

    &__entry {
        height: 100px;
    }

    &__types {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__stat {
        display: flex;
    }

    &__stats {
        user-select: none;
    }
}