.detailed-card {
    width: 500px;
    height: 700px;
    background-color: var(--color-grey-soft);
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    position: relative;

    &__img-container {
        position: absolute; 
        top: -80px;
        left: 50%; 
        transform: translateX(-50%);
    }

    &__img {
        height: 160px;
    }

    &__info {
        margin: 100px 62px ;
        display: flex;
        flex-direction: column;
        gap: 16px;
        & h2 {
            font-size: 32px;
            font-weight: bold;
        }

        & h3 {
            font-size: 20px;
            color: var(--color-grey-dark);
            font-weight: bold;
        }

        & h4 {
            font-size: 20px;
            user-select: none;
        }
    }

    &__entry > :not(:last-child) {
            margin-bottom: 12px;
    }

    &__entry {
        height: 100px;
    }

    &__types {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__stat {
        display: flex;
    }

    &__stats {
        user-select: none;
    }
}

.detail-link {
    display: flex;
    justify-content: flex-end;


    &__item {
        background-color: var(--color-yellow);
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 21px;
    }
}