.evolution-chain {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 26px;
    margin-top: 26px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: var(--color-white);
        min-width: 180px;
        min-height: 180px;
        border-radius: 16px;
        box-shadow: var(--box-shadow);
        padding: 8px 0;
    }

    &__img {
        height: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        & img {
            max-height: 135px;
            width: auto;
            height: auto;
        }
    }

    &__types {
        display: flex;
        gap: 6px;
    }
}

