.pokemon-card {
    height: 200px;
    width: 200px;
    border-radius: 16px;

    &.list {
        height: 50px;
        width: 500px;
        display: flex;
        justify-content: space-around;
    }

    &__img {
        height: 60px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: -40px 0 0 0; // Comun
        padding: 40px 0 15px 0; // Comun
        border-radius: 16px;

        background-color: var(--color-grey-soft);
        box-shadow: var(--box-shadow);

        &.list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            margin: 0 0 0 -40px;
            padding: 0 0 0 20px;
            z-index: -1;
        }
    }


    &__text {
        &.list {
            display: flex;
            align-items: center;
            gap: 26px;
            margin-left: 12px;
        }
    }

    &__number {
        color: var(--color-black);
        font-size: 12px;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
    }

    &__types {
        display: flex;
        gap: 6px;
    }

}

.fav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &.grid {
        position: absolute;
        margin-top: -95px;
        margin-left: 60px;
    }
}

.pokemon-card__list {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 24px;
}
