.pokemon-list {
    margin: auto;

    &.grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px; /* Espacio entre las celdas */
        height: 100%; /* Ajusta la altura según sea necesario */
        width: 50%; /* Ajusta el ancho según sea necesario */
    }
    
    &.list {
        display: flex;
        flex-direction: column;
    }
}


.layout-toggle {
    max-width: fit-content;
    padding: 12px;
    background-color: var(--color-grey);
    border-radius: 12px;
    display: flex;
}
