.search-bar {
    display: flex;
    align-items: center;
    max-width: 450px;
    width: 50%;
    height: 50px;
    border: 2px solid var(--color-grey);
    border-radius: 12px;
    padding: 0 12px;
    gap: 6px;
    transition: box-shadow 0.3s ease; 

    &__input {
        text-align: start;
        font-size: 18px;
        border: none;
        outline: none;
        background: transparent; 
    }

    &__icon {
        width: 20px;
        height: 20px;
    }

    &.focus {
        box-shadow: 0 0 0 3px var(--color-yellow); 
    }
}

@media (max-width: 450px) {
    .search-bar {
        width: 100%;
    }
}
