.top-bar {
    display: flex;
    justify-content: space-between;
    margin: 50px 32px;

    &__socials {
        display: flex;
    }

    &__logo {
        height: 50px;
        width: 50px;
    }

}