:root {
/*------------------------------------*\
    $COLOR-VAR
\*------------------------------------*/
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 93%);
    --color-yellow: hsl(48,100%, 51%);
    --color-blue: hsl(216, 54%, 45%);
    --color-navy: hsl(226, 54%, 24%);
    --color-red: hsl(4, 100%, 64%);

/*------------------------------------*\
    $COLOR-TYPES
\*------------------------------------*/
    --color-grass: hsl(101, 62%, 67%);
    --color-normal: hsl(0, 0%, 44%);
}