:root {

/*------------------------------------*\
    $COLOR-VAR
\*------------------------------------*/

    --color-white: hsl(0, 0%, 100%);
    --color-grey-soft: hsl(220, 50%, 98%);
    --color-grey: hsl(0, 0%, 95%);
    --color-grey-dark:  hsl(0, 0%, 38%);
    --color-black:  hsl(0, 0%, 3%);
    --color-yellow: hsl(48,100%, 51%);
    --color-red: hsl(4, 100%, 67%);


/*------------------------------------*\
    $COLOR-FOR-POKEMON-TYPES
\*------------------------------------*/
    --color-grass: hsl(101, 62%, 67%);
    --color-normal: hsl(0, 0%, 44%);



/*------------------------------------*\
    $BOX-SHADOW
\*------------------------------------*/
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}