/* POKEMON LIST */
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px; /* Espacio entre las celdas */
    width: 50%; /* Ajusta el ancho según sea necesario */
    height: 100%; /* Ajusta la altura según sea necesario */
    margin: auto;
}


/* PAGINATION */
.pagination {
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 20px 0;
   user-select: none;
}

.page-numbers {
    background-color: var(--color-grey);
    border-radius: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}
.page-item {
    height: 42px;
    width: 42px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.icon {
        margin: 0 12px;
        background-color: var(--color-yellow);
        border-radius: 21px;
        cursor: pointer;
    }

    &.active {
        border: 2px solid var(--color-yellow);
        border-radius: 21px;
    }
}
